.form-check-label:hover {
    background-color: #282C34 !important;
    cursor: pointer !important;
    border: 1px solid #FABE2C !important;
}

.form-check-label {
    background-color: #282C34 !important;
    cursor: pointer !important;
    border: 1px solid #FABE2C !important;
}

.active {
    background-color: #282C34 !important;

}

.form-check-input:checked {
    background-color: #FABE2C !important;
}